<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>${PRODUCT_NAME}</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Maintenance</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset Defaults</string>
			<key>Key</key>
			<string>reset_defaults</string>
			<key>DefaultValue</key>
			<false/>
			<key>Value for ON</key>
			<string>YES</string>
			<key>Value for OFF</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>License Reset</string>
			<key>Key</key>
			<string>lic_reset</string>
			<key>DefaultValue</key>
			<false/>
			<key>Value for ON</key>
			<string>YES</string>
			<key>Value for OFF</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Full Reset</string>
			<key>Key</key>
			<string>full_reset</string>
			<key>DefaultValue</key>
			<false/>
			<key>Value for ON</key>
			<string>YES</string>
			<key>Value for OFF</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
